<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login</title>

     <style>
          body {
               font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          }
     </style>

</head>
<body>
     <h1>Login</h1>
     <form action="/user/login" method="post">
          
          <label for="">email</label>
          <input type="text" name="email" required placeholder="rajat jana">
         

          <label for="">password</label>
          <input type="text" name="password" required placeholder="rajat jana">
        

          <button type="submit">login</button>
     </form>
</body>
</html>