<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>signUp</title>

     <style>
          body {
               font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          }
     </style>
</head>
<body>
     <h1>signUp</h1>
     <form action="/user" method="post">
          <label for="">Full Name</label>
          <input type="text" name="name" required placeholder="rajat jana">
          <br>

          <label for="">email</label>
          <input type="text" name="email" required placeholder="rajat jana">
          <br>

          <label for="">password</label>
          <input type="text" name="password" required placeholder="rajat jana">
          <br>

          <button type="submit">submit</button>
     </form>
</body>
</html>